
<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
  <span style="font-size: 25px;">• International Conferences</span><br>
  <span style="font-size:16px;">1.</span> 
  <strong style="font-size:16px;">Joon-Woo Lee</strong>
  <span style="font-size:16px;">, Eunsang Lee*, Young-Sik Kim*, Jong-Seon No, "Rotation Key Reduction for Client-Server Systems of Deep Neural Network on Fully Homomorphic Encryption," accepted for </span>
  <strong style="font-size:16px; color: red;">ASIACRYPT 2023</strong>
  <span style="font-size:16px;">, December 2023</span><br><br>
  <span style="font-size:16px;">2. Eunsang Lee, </span>
  <strong style="font-size:16px;">Joon-Woo Lee*</strong>
  <span style="font-size:16px;">, Junghyun Lee, Yongjune Kim, Young-Sik Kim, Jong-Seon No, and Wooseok Choi, "Low-complexity deep convolutional neural networks on fully homomorphic encryption using multiplexed parallel convolutions," </span>
  <strong style="font-size:16px; color: red;">ICML 2022</strong>
  <span style="font-size:16px;">, July 2022.</span><br><br>
  <span style="font-size:16px;">3. Yongwoo Lee, </span>
  <strong style="font-size:16px;">Joon-Woo Lee, </strong>
  <span style="font-size:16px;">Young-Sik Kim*, Yongjune Kim, Hyungchul Kang, and Jong-Seon No, "High-precision bootstrapping for approximate homomorphic encryption by error variance minimization," </span>
  <strong style="font-size:16px; color: red;">EUROCRYPT 2022</strong>
  <span style="font-size:16px;">, June 2022</span><br><br>
  <span style="font-size:16px;">4.</span> 
  <strong style="font-size:16px;"> Joon-Woo Lee*</strong>
  <span style="font-size:16px;">, Eunsang Lee, Yongwoo Lee, Young-Sik Kim, and Jong-Seon No, "High-precision bootstrapping of RNS-CKKS homomorphic encryption using optimal minimax polynomial approximation and inverse sine function," </span>
  <strong style="font-size:16px; color: red;">EUROCRYPT 2021</strong>
  <span style="font-size:16px;">, October 2021</span><br><br>
  <span style="font-size: 25px;">• International Journals</span><br>
  <span style="font-size:16px;">1. Eunsang Lee, </span>
  <strong style="font-size:16px;">Joon-Woo Lee*</strong>
  <span style="font-size:16px;">, Young-Sik Kim, and Jong-Seon No, “Minimax approximation of sign function by composite polynomial for homomorphic comparison,” </span>
  <strong style="font-size:16px; color: red;">IEEE TDSC</strong>
  <span style="font-size:16px;">, 19(6), pp. 3711-3727, 2022</span>
</div>
